@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

body {
    background-color: #e0e0e0;
    font-family: 'Nunito Sans', sans-serif;
}




.input {
    width: 70%;
    border: none;
    height: 1.8em;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.6em;
    color: #AAAAAA;
    border: 1px solid white;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 2px 2px 6px #bebebe,
        -2px -2px 6px #ffffff;
    transform: none;
}

.input-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    transform: none;
}

.input:focus {
    border: none;
}

.input:active {
    border: none;
}

.main {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    border: 6px solid rgb(235, 234, 234);
    background: #e0e0e0;
    box-shadow: inset -1px -1px 4px #bebebe,
        inset 1px 1px 4px #ffffff;
}

.common-btn {
    position: relative;
    overflow: hidden;
    margin: 5px;
    border-radius: 8px;
    background-color: #e0e0e0;
    background: #e0e0e0;
    border: 1px solid #dbd9d9;
    box-shadow: inset -3px -3px 6px #bebebe,
        inset 3px 3px 6px #ffffff;
}

.cylinder {
    width: 60px;
    height: 25px;
}

.act-click:active {
    box-shadow: inset 2px 2px 6px #bebebe,
        inset 2px 2px 6px #ffffff;
    color: black;
}

.active {
    box-shadow: inset 2px 2px 6px #bebebe,
        inset 2px 2px 6px #ffffff;
    color: black;
    font-size: 104%;
    background-color: #BBEAA6;
}



.back-tilt {
    height: 52px;
    width: 40px;
}


.num-btn {
    width: 40px;
    height: 52px;
}

.backspace-btn {
    width: 150px;
    height: 52px;
}

.num-first-row {
    width: 40px;
    height: 25px;

}

.normal-btn {
    width: 60px;
    height: 52px;
}

.tab-btn {
    width: 82px;
    height: 52px;
}

.backslash-btn {
    width: 105px;
    height: 52px;
}

.space-btn {
    width: 368px;
    height: 52px;
}

.caps-btn {
    width: 120px;
    height: 52px;
}

.enter-btn {
    width: 138px;
    height: 52px;
}

.shift-btn {
    width: 165px;
    height: 52px;
}

.left {
    margin-left: 22px;
}

.right {
    margin-right: 30px;
}

.up {
    position: relative;
}

.arrow-row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 14px;
}

.up-down-sectoin {
    position: relative;
    bottom: 16px;
}

.label {
    position: relative;
    top: -6px;
    left: 17px;
    font-size: 0.680em;
    color: #aca9a9;
}

.label-fn {
    left: 23px;
}

.alpa-label {
    position: relative;
    top: -7px;
    left: 20px;
    font-size: 1.275em;
    color: #aca9a9;
}

.small-font {
    font-size: 1em;
    top: -1px;
    left: 18px;
}

.tilt {
    left: 12px;
}

.left-arrow {
    position: relative;
    top: -10px;
}

.arrow {
    position: relative;
    top: -10px;
    left: 23px;
    font-size: 0.8em;
}

.num-label {
    position: relative;
    top: -7px;
    left: 13px;
    font-size: 1.275em;
    color: #aca9a9;
}

.num-1-label {
    position: relative;
    top: -16px;
    left: 13px;
    font-size: 1.275em;
    color: #aca9a9;
}

.divide {
    top: -20px;
}


p:active {
    transform: scale(0.99, 0.99);
}

div .common-btn:active {
    transform: scale(0.99, 0.99);
}

.header {
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #868383;
}

.header:active {
    transform: none;
}

.sub-heading {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #868383;
}

.sub-heading:active {
    transform: none;
}

footer {
    text-align: center;
}

.container2 {
    margin: 0 10%;
    padding: 20px;

}

.container3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    display: flex;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset -1px -1px 4px #bebebe,
        inset 1px 1px 4px #ffffff;
}

.flex-container {
    display: flex;
    align-items: stretch;
}

.flex-container>div {
    margin: 10px;
    text-align: center;
}

.heading3 {
    margin-bottom: 10px !;
    font-size: 20px;
    color: #7a9e69;
}

.footer {
    border-top: #757988;
    padding: 30px 2.45rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 400;
    margin-left: 0;
    margin-top: 40px;
    width: 100%;

}

.cssbuttons-io-button {
    margin-top: 20px ;
    font-family: 'Courier New', Courier, monospace;
    background: #bebebe;
    color: white;
    padding: 0.35em;
    padding-left: 1.4em;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #e4e3e3;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: bebebe;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #bebebe;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}